img {
  max-width: 100%;
}

.blog__description {
  font-family: monospace;
  font-size: 15px;

  text-transform: uppercase;
  letter-spacing: 2px;

  color: rgb(0, 110, 255);
}

.blog__text {
  font-size: 17px;
}
